@import '~antd/lib/style/themes/default';
@import '~antd/dist/antd'; // Import Ant Design styles by less entry

@import (css) url(https://fonts.googleapis.com/css?family=Manrope:300,400,700);

@font-family: 'Manrope';
@font-size-base: 14px;

@primary-color: #C2CD23;

.header {
  font-size: @heading-2-size;
  span { color: @white; }

  img {
    height: 100%;
    padding: @padding-sm;
  }
}


// Include the rest of less files

@import "components/_MyComponent";
